version: '3.8'

services:
  ueransim:
    container_name: ueransim
    image: free5gc/ueransim:latest
    entrypoint: tail -f /dev/null
    volumes:
      - ./config/gnbcfg.yaml:/ueransim/config/gnbcfg.yaml
      - ./config/uecfg.yaml:/ueransim/config/uecfg.yaml
    cap_add:
      - NET_ADMIN
    devices:
      - "/dev/net/tun"
    network_mode: none 